[Unit]
Description=Process Monitor
After=network.target

[Service]
User=ary
Group=ary
Type=simple
Restart=always
ExecStart=/home/ary/psmon/bin/psmon
Environment=PSMON_HOME=/home/ary/psmon

[Install]
WantedBy=multi-user.target